<!doctype html>
<html class="no-js" lang="en" ><!--manifest="manifest.appcache"-->
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/semantic.css')}}">
		<script type="text/javascript" src="{{url_for('static',filename='javascript/jquery-1.11.0.min.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static',filename='javascript/semantic.js')}}"></script>

	</head>
	<body>
		<audio id="matched-audio">
			<source src="{{ url_for('static', filename='sound-1.mp3') }}"></source>
			Your browser does not support HTML5 audio
		</audio>
		<div class="wrapper">
			<div class="player-info">
				<h2>Player Info</h2>
				<div class="ui two column grid">
					<div class="column">
						<div>
						Player Name: <span id="player_name"></span>
						<button class="mini ui button" id="new-player-name">new</button>
						</div>
					</div>
					<div class="column">
						<div style="text-align:right">
							Flips: <span id="card-flips">0</span>/<span id="max-flips">26</span>
						</div>
					</div>
				</div>
				
			</div>
			<div class="sideBox grow"></div>
			<div class="ui small modal">
				<div class="header">
					<h3>Player Name</h3>
				</div>
			  
				<div class="content">
					<form class="ui fluid form" id="new-player-form">
						<div class="two fields">
						    <div class="field">
						    	<label>First Name</label>
						      	<input placeholder="First Name" type="text" name="fname">
						    </div>
						    <div class="field">
						    	<label>Last Name</label>
						      	<input placeholder="Last Name" type="text" name="lname">
						    </div>
					 	</div>
						<div class="actions">
							<input class="ui blue submit button" type="submit" value="Submit">						
						</div>
					</form>  	
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function(){
				var fname = localStorage.getItem("player_fname")
				var lname = localStorage.getItem("player_lname")
				if((fname === null || fname === undefined || fname === "" ) ||
					(lname === null || lname === undefined || lname === "" ))
				{		
					$('.ui.small.modal').modal('setting', 'closable', false).modal('show');					
				}
				else
				{
					$('#player_name').text(fname+" "+lname);		
				}
				$('#new-player-form').submit(function(event){
					fname = $('input[name="fname"]').val();
					lname = $('input[name="lname"]').val();
					localStorage.setItem('player_fname', fname);
					localStorage.setItem('player_lname', lname);
					
					updatePlayerInfo();
					
				});	

				$('#new-player-name').click(function(){
					$('.ui.small.modal').modal('setting', 'closable', false).modal('show');
		
				});
			});			
		</script>
		<script src="{{ url_for('static', filename='cards.js') }}"></script>

	</body>
</html>
